.button-class{
  background-color: #f5b461;
  border: none;
  color: white;
  padding: 20px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #fbe2e5 ;
  color: plum;
  border: 3px solid #fbe2e5;
  font-family: 'Libre Baskerville', serif;
}

h1{
  font-family: 'Libre Baskerville';
  color: plum;
}
